.category-flex {
    display: flex; 
 }
 
 .event-block {
     margin: 0;
     background-color: white;
     width: 50vw;
     height: 86vh;
 }
 
 .event-box {
     text-align: left;
     padding: 0% 4%;
 }


 