@import url('https://fonts.googleapis.com/css?family=Orbitron:700|Roboto:300');
header {
    z-index: 0;
    display: flex;
	justify-content: space-between;
	align-items: baseline;
    align-content: center;
    background-color: #ffffff;
    border-bottom: 1px solid grey;
}

#logo {
    padding-left: 3%;
    padding-top: 1%;
    width: 15%;
    white-space: nowrap;
    font-family: 'Orbitron', sans-serif;
    font-size: 1.5em;
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    text-decoration: none;
}

.leftie {
    display: flex;
    margin-right: 3%;
}

.header-box {
    margin: 0 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
}

button {
    border: none;
}

.search {
    padding-right: 10%;
}