.promise {
    background-image: url(https://i.imgur.com/kZn7d4b.jpg);
    padding: 10vh 0 10vh 0;
    background-size: 100% auto;
}

h2 {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.2rem;
    font-size:3em;
    color: #ffffff;
    text-transform: uppercase;
}

.verticalFlip{
	display: flex;
    justify-content: center;
    align-content: center;
}
.verticalFlip span{
	animation: vertical 12.5s linear infinite 0s;
	-ms-animation: vertical 12.5s linear infinite 0s;
	-webkit-animation: vertical 12.5s linear infinite 0s;
	opacity: 0;
    overflow: hidden;
    position: absolute;
}
.verticalFlip span:nth-child(2){
	animation-delay: 2.5s;
	-ms-animation-delay: 2.5s;
	-webkit-animation-delay: 2.5s;
}
.verticalFlip span:nth-child(3){
	animation-delay: 5s;
	-ms-animation-delay: 5s;
	-webkit-animation-delay: 5s;
}
.verticalFlip span:nth-child(4){
	animation-delay: 7.5s;
	-ms-animation-delay: 7.5s;
	-webkit-animation-delay: 7.5s;
}
.verticalFlip span:nth-child(5){
	animation-delay: 10s;
	-ms-animation-delay: 10s;
	-webkit-animation-delay: 10s;
}

/*Vertical Flip Animation*/
@-moz-keyframes vertical{
	0% { opacity: 0; }
	5% { opacity: 0; -moz-transform: rotateX(180deg); }
	10% { opacity: 1; -moz-transform: translateY(0px); }
	25% { opacity: 1; -moz-transform: translateY(0px); }
	30% { opacity: 0; -moz-transform: translateY(0px); }
	80% { opacity: 0; }
	100% { opacity: 0;}
}
@-webkit-keyframes vertical{
	0% { opacity: 0; }
	5% { opacity: 0; -webkit-transform: rotateX(180deg); }
	10% { opacity: 1; -webkit-transform: translateY(0px); }
	25% { opacity: 1; -webkit-transform: translateY(0px); }
	30% { opacity: 0; -webkit-transform: translateY(0px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@-ms-keyframes vertical{
	0% { opacity: 0; }
	5% { opacity: 0; -ms-transform: rotateX(180deg); }
	10% { opacity: 1; -ms-transform: translateY(0px); }
	25% { opacity: 1; -ms-transform: translateY(0px); }
	30% { opacity: 0; -ms-transform: translateY(0px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}

.cat-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.cat-box {
    margin-top: 6%;
    font-family: inherit;
    letter-spacing: 0.2rem;
    font-size:2em;
    color: #ffffff;
    text-align: center;
    line-height: 600px; 
    box-sizing: content-box;
    text-transform: uppercase;
    background-size: contain;
    background-repeat: round;
    border-radius: 16px;
    width: 400px;
    height: 332px;
}

.cat-1 {
    background-image: url(./Outdoor.png);
}

.cat-2 {
    background-image: url(./Afterwork.png);
}

.cat-3 {
    background-image: url(./Clubbing.png);
}

.cat-4 {
    background-image: url(./Live.png);
}